.market {
  color: var(--neutrals-grey-60, #6F6F6F);
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.hero {
  color: var(--green-green-50-main, #24A148);

  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  /* 112.5% */
  letter-spacing: -1.28px;
}

.inner-head {
  border: 0px solid #ddd;
  height: 65px;
  line-height: 50px;
  overflow: hidden;
}

.inner-head span {
  position: relative;
  animation: animation 7s ease infinite;
}

@keyframes animation {

  0%,
  100% {
    top: 0;
  }

  27% {
    top: 0;
  }

  42% {
    top: -75px;
  }

  59% {
    top: -75px;
  }

  75% {
    top: -150px;
  }

  90% {
    top: -150px;
  }

}

@media (max-width: 768px) {
  .hero {
    font-size: 39px;
    line-height: 54px;
  }

  .inner-head {
    height: 50px;
  }
  @keyframes animation {

    0%,
    100% {
      top: 0;
    }

    26% {
      top: 0;
    }

    40% {
      top: -55px;
    }

    62% {
      top: -55px;
    }

    75% {
      top: -110px;
    }

    92% {
      top: -110px;
    }
  }
}